:root {
  --flow-space-title: 2.40vh;
  --flow-space-container: 4.80vh;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  min-height: 100vh;
  @apply bg-gradient-to-tr from-white-100 to-pink-400
}

#nav{
  padding: 8.54vw;
}

.container {
  padding-top: 9.60vh;
  padding-left: 8.54vw;
  padding-right: 8.54vw;
  padding-bottom: 13.80vh;
}

.flow__title > * + * {
  margin-top: var(--flow-space-title, 1em);
}

.flow__container > * + * {
  margin-top: var(--flow-space-container, 1em);
}

@media (prefers-reduced-motion: no-preference) {

  
}

@media (min-width: 80rem) {
  #nav {
    padding-top: 4.52vw;
    padding-left: 11.46vw;
    padding-bottom: 0;
  }

  .container {
    padding-top: 13.75vh;
    padding-left: 11.46vw;
    padding-right: 7.7vw;
  }

  main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8);
  }

  #hero {
    grid-row: 1/9;

  }

  #nav {
    grid-row: 1/5;

  }

  #container {
    grid-row: 5/9;

  }
}